.footer-banner-container {
    width: 100%;
    background: #040404;
    display: flex;
    align-items: center;
    justify-content: center;    
    padding: 20px;
    bottom: 0;
    height: 74px;
    .title{
        opacity: .4;
        color: #FFFFFF;
        font: normal normal normal 18px/30px Roboto;

    }
}
